unless _.isEmpty(resume.awards)
  +section('Awards').awards
    each award in resume.awards
      .event
        .event__header
          .event__title
            |#{award.title}

            if award.awarder
              |,&nbsp;
              if award.website
                a(href=award.website, target="_blank")= award.awarder
              else
                |#{award.awarder}

          .event__subtitle
            .event__period
              |#{award.date}

        .event__content
          if award.summary
            .event__description.screen-only!=markdown(award.summary)

          unless _.isEmpty(award.highlights)
            ul.event__highlights
              each highlight in award.highlights
                li.event__highlight
                  !=markdown(highlight)
