unless _.isEmpty(resume.publications)
  +section('Publications').publications
    each publication in resume.publications
      .event
        .event__header
          .event__title
            |#{publication.name}

            if publication.publisher
              |,&nbsp;
              if publication.website
                a(href=publication.website, target="_blank")= publication.publisher
              else
                |#{publication.publisher}

          .event__subtitle
            .event__period
              |#{publication.releaseDate}

        .event__content
          if publication.summary
            .event__description.screen-only!=publication.summary

          unless _.isEmpty(publication.highlights)
            ul.event__highlights
              each highlight in publication.highlights
                li.event__highlight
                  !=highlight
