unless _.isEmpty(resume.volunteer)
  +section('Volunteer work').volunteer-work
    each volunteer in resume.volunteer
      .event
        .event__header
          .event__title
            |#{volunteer.position}

            if volunteer.organization
              |,&nbsp;
              if volunteer.website
                a(href=volunteer.website, target="_blank")= volunteer.organization
              else
                |#{volunteer.organization}

          .event__subtitle
            .event__period
              |#{volunteer.startDate} - #{volunteer.endDate || 'Present'}

            .event__location
              |#{volunteer.location}

        .event__content
          if volunteer.summary
            .event__description.screen-only!=volunteer.summary

          unless _.isEmpty(volunteer.highlights)
            ul.event__highlights
              each highlight in volunteer.highlights
                li.event__highlight
                  !=highlight
