unless _.isEmpty(resume.work)
  +section('Work Experience').work-experience
    each experience in resume.work
      .event
        .event__header
          .event__title
            |#{experience.position}

            if experience.company
              |,&nbsp;
              if experience.website
                a(href=experience.website, target="_blank")= experience.company
              else
                |#{experience.company}

          .event__period
            |#{experience.startDate} - #{experience.endDate || 'Present'}

          .event__location
            |#{experience.location}

        .event__content
          if experience.summary
            .event__description.screen-only!=experience.summary

          unless _.isEmpty(experience.highlights)
            ul.event__highlights
              each highlight in experience.highlights
                li.event__highlight
                  !=highlight