mixin large_icon(id, title)
  .icon
    svg.fs-lg(class="icon-" + id)
      use(xlink:href="#icon-" + id)
    span.mobile-title
      |#{title}

mixin timed_event_title(title, ongoing, ongoing_title)
  if ongoing
    svg.icon-circle.current-event
      use(xlink:href="#icon-circle")

    strong(
      title=ongoing_title,
      data-toggle="tooltip",
      data-placement="bottom"
    )= title
  else
    strong= title

section.col-md-9.card-wrapper.pull-right
  .card.background-card
    .background-details
      include background/about.pug
      include background/work-experience.pug
      include background/volunteer-work.pug
      include background/publications.pug
      include background/awards.pug
      include background/education.pug
      include background/references.pug
      include background/skills.pug
      include background/interests.pug
